<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Assessment Dashboard{% endblock %}

{% block content %}
<section class="container px-3 px-md-5 my-5">
  <div class="assessment-page-header mb-4">
    <h1 class="mb-2">Assessment Dashboard</h1>
    <p>Select a collection item to preview, review, and approve.</p>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered align-middle">
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Title</th>
          <th>Category</th>
          <th>Cultural Group</th>
          <th>Review Status</th>
          <th>Access Level</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.item_ID }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.item_category }}</td>
            <td>{{ item.cultural_group }}</td>
            <td>
              {% if item.review_status == 'Completed' %}
              <span class="badge badge-completed">{{ item.review_status }}</span></td>
              {% elif item.review_status == 'Under Review' %}
              <span class="badge badge-under-review">{{ item.review_status }}</span></td>
              {% else %}
              <span class="badge badge-pending">{{ item.review_status }}</span></td>
            {% endif %}
            </td>
            <td>
              {% if item.access_level == 'Public' %}
            <span class="badge badge-public">{{ item.access_level }}</span></td>
            {% elif item.access_level == 'Restricted' %}
            <span class="badge badge-restricted">{{ item.access_level }}</span></td>
            {% else %}
            <span class="badge badge-private">{{ item.access_level }}</span></td>
            {% endif %}
            </td>
            <td>
              <a href= 
{{ url_for('library.assessment', item_id=item.item_ID)}} class="btn btn-sm btn-outline-dark">
                Open
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
