<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Library of Indigenous Knowledge and History">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{%block title%} Library of Indigenous Knowledge and History{% endblock %}</title>

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
 
<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>

<header>
<!--Top Navbar-->
<nav class="navbar navbar-dark navbar-custom">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center" href="{{ url_for('main.index')}}">
      <img src="{{ url_for('static', filename='img/logo.png')}}"
      alt="Library logo"
      class="navbar-logo me-2">
      <span>Library of Indigenous Knowledge and History</span>
    </a>
    <div class="ms-auto">
      <!--<a class="btn btn-outline-light btn-sm" href="#!">
        Login / Account
      </a> -->

      {% if session.get("logged_in") %}
          <a class="btn btn-outline-light btn-sm" href="{{ url_for('admin.admin')}}">Admin Page</a>
          <!-- Below url will need updating once we have an Account address -->
          <a class="btn btn-outline-light btn-sm" href="{{ url_for('main.index')}}">Account</a>
          <a class="btn btn-outline-light btn-sm" href="{{ url_for('login.logout')}}">Logout</a>

      {% else %}
          <a class="btn btn-outline-light btn-sm" href="{{ url_for('login.login')}}">Login</a>
          <a class="btn btn-outline-light btn-sm" href="{{ url_for('register.registerPublicUser')}}">Register</a>
      {% endif %}
      </div>

    </div>
  </div>
</nav>

<!--Secondary Navigation Bar (Bootstrap)-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom-secondary">
        <div class="container">

  <button class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#mainNavbar" 
          aria-controls="mainNavbar" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link {% if request.endpoint == 'main.index'%} active{% endif %}" 
      href="{{ url_for('main.index') }}">Home </a>
          <a class="nav-item nav-link"
      href="{{ url_for('main.index') }}#about">
      About
      </a>
          <a class="nav-item nav-link"
      href="{{ url_for('main.index') }}#featured-items">
      Collection
      </a>
      <a class="nav-item nav-link {% if request.endpoint == 'library.item'%} active{% endif %}"
      href="{{ url_for('library.item') }}">Collection Item</a>
      <a class="nav-item nav-link {% if request.endpoint == 'library.assessment' %}active{% endif %}"
      href="{{ url_for('library.assessment') }}">Reviewer Assessment</a>
      <a class="nav-item nav-link {% if request.endpoint == 'admin.new_item' %}active{% endif %}"
      href="{{ url_for('admin.admin') }}">Admin</a>
    <a class="nav-item nav-link"
      href="{{ url_for('main.index') }}#contact">
      Contact
      </a>
    </div>

  </div>

 </div>

</nav>
</header>

<main>

      <!-- Flashed messages go here -->
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
               <div class="container mt-3">
                     {% for category, message in messages %}
                        <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show" role="alert">
                           {{ message }}
                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                     {% endfor %}
               </div>
            {% endif %}
         {% endwith %}

     <!-- This is the blank spot child pages will fill in -->
        {% block content %}
        {% endblock %}


</main>

<footer class="footer-custom text-white pt-4 pb-3">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-4 mb-4">
        <a class="footer-brand d-flex align-items-center mb-3" href="{{ url_for('main.index')}}">
      <img src="{{ url_for('static', filename='img/logo.png')}}"
          alt="Library logo"
          class="footer-logo me-2">
        <span>Library of Indigenous Knowledge and History</span>
        </a>
        <p class="footer-about mb-3">
          A curated collection by QUT Library, documenting Indigenous stories, history, and creative expressions in partnership with community.
        </p>

        <div class="footer-social-links">
          <a class="footer-icon-link" href="https://www.facebook.com/QUTBrisbane" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="footer-icon-link" href="https://www.instagram.com/qutrealworld" aria-label="Facebook">
            <i class="bi bi-instagram"></i>
          </a>
          <a class="footer-icon-link" href="linkedin.com/school/queensland-university-of-technology/" aria-label="Facebook">
            <i class="bi bi-linkedin"></i>
          </a>
          <a class="footer-icon-link" href="https://www.youtube.com/channel/UCA8MBOs4SpWJm4OVvQUDEag" aria-label="Facebook">
            <i class="bi bi-youtube"></i>
          </a>                  
        </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-3">
    <h5 class="footer-heading">Explore</h5>
    <ul class="list-unstyled footer-list mb-0">
    <li>
      <a class="footer-link" href="{{url_for('main.index')}}">Home</a>
    </li>
     <li>
      <a class="footer-link" href="{{url_for('main.index')}}#about">About</a>
    </li>
        <li>
      <a class="footer-link" href="{{url_for('main.index')}}#collection">Browse Collection</a>
    </li>
      <li>
      <a class="footer-link" href="{{url_for('main.index')}}#featured-items">Featured Items</a>
    </li>
    <li>
      <a class="footer-link" href="{{url_for('main.index')}}#contact">Contact</a>
    </li>
  </ul>
  </div>
  <div class="col-lg-3 col-md-6 mb-3">
    <h5 class="footer-heading">FAQ & Policies</h5>
    <ul class="list-unstyled footer-list mb-0">
    <li>
      <a class="footer-link" href="#!">FAQ</a>
    </li>
     <li>
      <a class="footer-link" href="#!">Privacy Policy</a>
    </li>
        <li>
      <a class="footer-link" href="#!">Terms of Use</a>
    </li>
  </ul>
  </div>
  </div>

  <hr class="footer-divider">
        <p class="footer-acknowlegement text-center mb-2">
          We acknowledge the Traditional Custodians of the Country throughout Australia and honour their Elders past and present.
        </p>

    <p class="small text-center mb-0">
    &copy; Library of Indigenous Knowledge and History 2026. All rights reserved.
    </p>
    </div>
</footer>

<!-- Bootstrap 5.3.8 -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

