{% extends 'base.html' %}
{% import 'bootstrap5/form.html' as wtf %}
{% block content %}
<section class="container px-3 px-md-5 my-5">
    <div class="user-login-header mb-4">
        <h1 class="mb-2">User Login</h1>
        <p class="text-muted mb-0">
            Login to access your account.
            </p>
            </div>
    
        <div class="row justify-content-center">
            <div class="col-md-6">{{ wtf.render_form(form) }}</div>
            <small class="text-muted row mt-4 justify-content-center"> Need An Account?
                <a class="row mt-4 justify-content-center" href="{{ url_for('register.registerPublicUser') }}">Sign Up Now</a></small>
        </div>
    </div>
</section>
{% endblock content %}