
<!-- templates/search.html -->
{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}



<!--Search and filter-->
<section class="container my-5" id="collection">
  <div class="row justify-content-center">
  <div class="col-lg-10">

  <div class="card search-card">
    <div class="card-header">
      Search the Collection
    </div>
    <div class="card-body">

<!--Connect Filter controls (collection_items)-->
<form action="/search" method="POST">
  <div class="mb-3">
        <label for="searchKeyword">Search:</label>
        <input type="text"
        class="form-control"
        id="searchKeyword"
        name="search_query"
        value="{{ search_query }}"
        placeholder="Search by title, category, cultural group, access level or keyword">
      </div>

  <div class="row">

    <!--  categories don't match DB so commenting these out to fix -->
    <!--  
      <div class="col-md-5">
        <label for="categoryFilter">Category:</label>
        <select class="form-select" id="categoryFilter" name="filter_category">
          <option value="">All Categories</option>
          <option value="Photography">Photography</option>
          <option value="Artwork">Artwork</option>
          <option value="Documents and Stories">Documents and Stories</option>
          <option value="Audio Collection">Audio Collection</option>
          <option value="Cultural Artefacts">Cultural Artefacts</option>
        </select>
      </div>
      -->
      

      <div class="col-md-5">
        <label for="categoryFilter">Category:</label>
        <select class="form-select" id="categoryFilter" name="filter_category">
          <option value="">All Categories</option>
          <option value="Artwork created by Indigenous artists">Artwork created by Indigenous artists</option>
          <option value="Audio recordings of oral histories">Audio recordings of oral histories</option>
          <option value="Cultural artefact records">Cultural artefact records</option>
          <option value="Historical Photographs">Historical Photographs</option>
          <option value="Language preservation materials">Language preservation materials</option>
          <option value="Archival manuscripts or documents">Archival manuscripts or documents</option>
        </select>
      </div>

      <div class="col-md-5 mb-3">
        <label for="accessFilter" class="form-label">Access Level</label>
        <select class="form-select" id="accessFilter" name="filter_access">
          <option value="">All Access Levels</option>
          <option value="Public">Public</option>
          <option value="Restricted">Restricted</option>
          <option value="Private">Private</option>
          </select>
      </div>

      <div class="col-md-2 mb-3 d-flex align-items-end">
        <button type="submit" class="btn btn-primary w-100">
          Submit
        </button>
      </div>
</div>
</form>
</div>
</div>
</div>
</div>
</section>




<!--Search results-->
<section class="container my-5" id="collection">
  <div class="row justify-content-center">
  <div class="col-lg-10">

  <div class="card searchresults-card">
    <div class="card-header">
      {{ title }}
    </div>
    <div class="card-body">

    <p>Search results for: <strong>{{ search_query }}</strong></p>
    <p>Category filter: <strong>{{ filter_category }}</strong></p>
    <p>Access level filter: <strong>{{ filter_access }}</strong></p>
    

</div>
</div>
</div>
</div>
</section>


<!-- Results underneath -->
{% if results %}
    {% for item in results %}
        <p>{{ item.title }} || {{ item.access_level }} || {{ item.item_category }}</p>
        {% if item.access_level == 'Public' %}
            <p>{{ item.description }}</p></br>
        {% endif %}

      </br>
    {% endfor %}
{% elif search_query and filter_category and filter_access %}
    <p>No results found for search term: "{{ search_query }}" and filter: "{{ filter_category }}" and "{{ filter_access }}"</p>
{% elif search_query and filter_category %}
    <p>No results found for search term: "{{ search_query }}" and filter: "{{ filter_category }}"</p>
{% elif search_query and filter_access %}
    <p>No results found for search term: "{{ search_query }}" and filter: "{{ filter_access }}"</p>
{% else %}
    <p>No results found.</p>
{% endif %}



{% endblock %}